*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-1: #063251;
  --clr-primary-2: #104e7a;
  --clr-primary-3: #1a6aa2;
  --clr-primary-4: #2d87c8;
  --clr-primary-5: #49a6e9;
  --clr-primary-6: #6ebef7;
  --clr-primary-7: #8bcbf9;
  --clr-primary-8: #a5d5f8;
  --clr-primary-9: #c5e5fc;
  --clr-primary-10: #ebf7ff;
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-red-light: #e66b6b;
  --clr-green-dark: #25bb32;
  --clr-green-light: #6be675;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
  --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    color: var(--clr-grey-1);
    line-height: 1.5;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.half{
  min-height: 50vh;
}
.black{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-black);
}
.white{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-grey-9);
}
.block, .load{
  background-color: var(--clr-grey-7);
  z-index: 1;
  min-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
  border-radius: 10px;
  position: relative;
  color: black;
  box-shadow: var(--dark-shadow);
}
.block::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  border-bottom: 1px solid black;
  background: var(--clr-grey-10);
  z-index: -1;
  border-radius: 10px 10px 0 0;
}
.block img{
  margin: 30px;
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 0 0 30px grey;
}
.block p{
  font-size: 1.2rem;
  color: var(--clr-grey-2);
}
.block h2{
  font-size: 2rem;
  margin-bottom: 50px;
}
.icon{
  font-size: 2rem;
  margin: 0 30px 40px;
  color: var(--clr-grey-4);
}
.icon:hover{
  cursor: pointer;
}
.randomise{
  border: none;
  background: var(--clr-primary-8);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--clr-primary-1);
  margin-bottom: 30px;
}